body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.4;
    background: #f8f8f8;
	font-size: 85%;
	color: #444;
	padding: 80px 25% 30px 6%;
}

#dirlist {
    margin-bottom: 40px;
}

a {
	color: #0174A7;
	text-shadow: 0 1px 0 #fff;
	text-decoration: none;
}

a:hover {
	color: #111;
	text-decoration: underline;
}

h1#page-title {
    font-size: 250%;
    margin: 0 0 0.2em 0;
    line-height: 0.9;
    text-shadow: 0 1px 0 #fff;
    color: #cc0f16;
    letter-spacing: -1px;

    float:left;
}

h1#page-title strong {
    display: block;
	border-bottom: 1px solid #ddd;
	font-size: 50%;
	line-height: 1.8em;
	letter-spacing: -0.03em;
}

h1#page-title a {
  color: #cc0f16;
}

/**** Table styling ****/

tr a { font-weight: bold;}

#dirlist table {
    padding: 0px;
    border-collapse: collapse;
    width: 100%;
    border-bottom: 1px solid #DDD;
}

tr:nth-child(even) { background: rgba(0,0,0,0.03); }

tr,td,th {
    border: 0;
}

td,th {
    padding: 3px 10px;
}

th {
    text-align: right;
	border-bottom: 1px solid #ccc;
}

th a {
	color: #999;
    text-decoration: none;
}



/* Name column header */
th:nth-child(2) {
    text-align: left;
}

/* Icon cells */
tr td:nth-child(1) {
    width: 24px;
}

/* Name cells */
tr td:nth-child(2) {
    width: 50%;
}

/* Last Modifed & Size */
tr td:nth-child(3),
tr td:nth-child(4) {
    text-align: right;
    font-size: 95%;
}

/* Hide Description column*/
tr td:nth-child(5) { display: none;}

/* hide ugly Apache icons */
img[src^="/icons"] {
   visibility: hidden;
}

/* directory links */
td a[href*="/"] {
    font-weight: bold;
    color: #444;
    padding-right: 22px;

}
td a[href*="/"]:hover {
    color: #0174A7;
    background: url(/windex/icons/pointer-small.png) right center no-repeat;;
}

/* Parent Directory link  */
td a[href^="/"] {
    color: #0174A7;
}
td a[href^="/"],
td a[href^="/"]:hover { background: url(/theme/icons/up-arrow.png) right center no-repeat; }
td a[href^="/"]:hover { color: #111;}


/* Search box */
#search-box {
    float: right;
}

#search-box input {
    border: 1px solid #000;
    padding: 4px;
}

#error-message div {
    clear:both;
}

/**** README ****/

h2.readme-title {
    font-size: 0.95em;
    padding-bottom: 0.4em;
    border-bottom: 1px solid #DDD;
}

#readme pre {
    border: 1px solid #CCC;
    padding: 10px;
    overflow-x: scroll;
    background: #FFF;
}
